{% extends 'Medecin/medecin.html'  %}

{% block content %}
<div class="card mt-3 ml-4" style="margin:80px;" >
<div class="card-header">
<h1>Liste des visites pour {{ patient.nom }}</h1>
<a href="{% url 'ajouter_visite_reprise' patient.id %}" class="btn btn-info" >Ajouter</a>
</div>
<div class="container">
    <table class="table table-condensed" id="bootstrapdatatable">
        <thead>
            <tr>
                <th>Date de Visite</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>{{ visite.date|date:"d-m-Y"}}</td>
                    <td><a href="{% url 'detail_visite_reprise' patient_id=patient.id date_visite=visite.date %}">Voir</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
            $('#bootstrapdatatable').DataTable({
                "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                "iDisplayLength": 10,
                "dom": 'Bfrtip', // Include the Buttons in the DataTable layout
                "buttons": ['copy', 'csv', 'excel', 'pdf', 'print']
            });
        });
</script>
{% endblock %}